body {
    background-color: #f2f2f2;
    background-image: linear-gradient(225deg, #5f0fbb, #00b7ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
button {
    padding: 10px 20px;
    background-color: #00b7ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}

a {
    padding: 10px 20px;
    background-color: #00b7ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
  
a:hover {
    background-color: #0056b3;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 247px;
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 340px;
    height: 180px;
}

.text-input {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.img-download {
    position: absolute;
    left: 30%;
    margin: 5px;
}
